{% extends "layout.html" %}

{% block body %}

<p>hello {{ user }}</p>

{% if wikis %}
<h3>Your Wikis</h3>
<ul>
	{% for wiki in wikis %}
	<li>
		<a href="{{ wiki['uri'] }}">{{ wiki['name'] }}</a>
	</li>
	{% endfor %}
</ul>
{% endif %}

<form action="{{ uris['create_wiki'] }}" method="post" class="pure-form">
	<fieldset>
		<legend>Create Wiki</legend>

		<input name="wiki" placeholder="wiki name">
		<label>
			<input type="checkbox" name="private" value="1">
			private
		</label>

		<input type="submit" value="Create Wiki">
	</fieldset>
</form>

{% if wikis %}
<form action="{{ uris['create_page'] }}" method="post" class="pure-form">
	<fieldset>
		<legend>Create Page</legend>

		<label>
			wiki
			<select name="wiki">
				{% for wiki in wikis %}
				<option value="{{ wiki['name'] }}">{{ wiki['name'] }}</option>
				{% endfor %}
			</select>
		</label>
		<input name="title" placeholder="title">
		<textarea name="text"></textarea>

		<input type="submit" value="Create Page">
	</fieldset>
</form>
{% endif %}

{% endblock %}
