{% extends "layout.html" %}

{% block body %}

<p>hello {{ user }}</p>

{% if wikis %}
<h3>Your Wikis</h3>
<ul>
	{% for wiki in wikis %}
	<li>
		<a href="{{ wiki['uri'] }}">{{ wiki['name'] }}</a>
	</li>
	{% endfor %}
</ul>
{% endif %}

<h3>Create Wiki</h3>
<form action="{{ uris['create_wiki'] }}" method="post">
	<label>
		wiki name:
		<input name="wiki">
	</label>
	<label>
		private:
		<input type="checkbox" name="private" value="1">
	</label>
	<input type="submit">
</form>

{% if wikis %}
<h3>Create Page</h3>
<form action="{{ uris['create_page'] }}" method="post">
	<label>
		wiki:
		<select name="wiki">
			{% for wiki in wikis %}
			<option value="{{ wiki['name'] }}">{{ wiki['name'] }}</option>
			{% endfor %}
		</select>
	</label>
	<label>
		title:
		<input name="title">
	</label>
	<label>
		<textarea name="text"></textarea>
	</label>
	<input type="submit">
</form>
{% endif %}

{% endblock %}
